.slider {
    &-mini {
        gap: 17px;
        position: unset;
        overflow: visible;
        @include flex(center);
        justify-content: space-between;

        &__title {
            margin-bottom: 15px;
            display: none;
            color: $c-white;
            font-weight: 400;
            white-space: nowrap;
            @include font(25px, 30px);
            font-family: 'Bona Nova', serif;
            
            @media screen and (max-width: 992px) {
                display: block;
            }
        }
        
        &-wrap {
            overflow: hidden;
            @media screen and (max-width: 992px) {
                overflow: visible;
            }
        }

        &-slide {
            cursor: pointer;
            overflow: hidden;
            user-select: none;
            border-radius: 2px;
            width: min(187px, 100%);
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-nav {
            @media screen and (max-width: 992px) {
                display: none;
            }
        }

        &-btn {
            position: static;
            top: unset;
            &::after {
                display: none;
            }
        }
    }
}